mixin link(part, links)
    if Array.isArray(part)
        a(href= links[part[0]].address)= links[part[0]].name
    else
        span= part + " "

mixin linkText(point, links)
    each part in point
        +link(part, links)

.header
    h1
        span Jacob Friesen 
        br.mobile-br
        span.mobile-erase - 
        span= general.subTitle
    p
        span.desktop-erase &#149;&nbsp;
        span= general.email + " "
        span.desktop-erase &#149;&nbsp;
        br.mobile-br
        span &#149;&nbsp;
        a(href= links.mainWebsite.address)= links.mainWebsite.name + " "
        span.desktop-erase &#149;&nbsp;

    p
        span.desktop-erase &#149;&nbsp;
        span=general.address.street + ", " + general.address.city + ", " + general.address.state._long + ", " + general.address.postal + " "
        span &#149; 
        br.mobile-br
        span.desktop-erase &#149;&nbsp;
        a.desktop-erase(href= "tel:" + general.phone.replace(/-/g, ''))= general.phone
        span.mobile-erase= general.phone
        span.desktop-erase &nbsp;&#149;&nbsp;

// profile
.area.no-top-margin
    h2 Profile
    ul
        each point in profile
            if Array.isArray(point)
                li
                    +linkText(point, links)
            else
                li= point

// skills
.area
    h2 Skills
    p
        +linkText(skills.summary, links)

    .right-shift
        each section in skills.sections
            h3= section.title
            table.skills
                thead
                    td Skill
                    td Years
                    td Level
                tbody
                    each skill in section.skills
                        tr
                            td= skill.name
                            td= skill.time[0] + skill.time[1]
                            td= skill.level
                        if Array.isArray(skill.subSkills)
                            each subSkill in skill.subSkills
                                tr.sub-skill
                                    td
                                        span &nbsp;&#149;&nbsp;
                                        span= subSkill.name
                                    td= subSkill.time[0] + subSkill.time[1]
                                    td= subSkill.level

// work experience                               
.area.experience
    h2 Work Experience
    p
        +linkText(workExperience.summary, links)

    .right-shift
        each job in workExperience.jobs
            p.exp-title
                b
                    span= job.dates + " "
                    span.sub-section= job.title
                span &nbsp;
                +link(job.link, links)
            p.exp-description= job.description
            ul
                each point in job.points
                    li= point

// education
.area
    h2 Education
    .right-shift
        each school in education
            p.exp-title
                b= school.title
            if school.points
                ul
                    each point in school.points
                        li= point

// volunteering
.area.volunteering
    h2 Volunteering
    .right-shift
        each experience in volunteering
            .exp-title
                b
                    span= experience.dates + " "
                    span.sub-section= experience.position
            .exp-description
                b= experience.place
            if experience.points
                ul
                    each point in experience.points
                        li= point

// other (called interests before)
.area.onlywkhtml
    h2 Interests
    p.onlywkhtml
        +linkText(interests, links)